{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {  
    "no-var": "warn",  
    "no-multiple-empty-lines": "warn", 
    "no-console": ["warn", { "allow": ["warn", "error"] }], 
    "eqeqeq": "warn",  
    "dot-notation": "warn",  
    "no-unused-vars": "warn",  
    "react/destructuring-assignment": "warn", 
    "react/jsx-pascal-case": "warn",  
    "react/no-direct-mutation-state": "warn",  
    "react/jsx-no-useless-fragment": "warn",  
    "react/no-unused-state": "warn",  
    "react/jsx-key": "warn",  
    "react/self-closing-comp": "warn",  
    "react/jsx-curly-brace-presence": "warn",  
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
	"env": {
      "browser": true
   },
}