.container {
    width: 360px;
    height: 100vh;
    border: 1px solid black;
    margin: auto;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(105, 80, 80, 0.1) 0px -3px 20px;
}
